h3 {
    text-align: center;
    width: 100%;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.images {
    flex: 0 0 250px;
    height: 200px;
    margin: 15px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
}

.photoList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* @media only screen and (max-width: 940px) {
    .images {
        width: 90%;
    }
} */