h3 {
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    
}

.images {
    width: 275px;
    height: 275px;
    margin: 15px;
    box-shadow: 5px 5px 15px gray;
}

.photoList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 940px) {
    .images {
        width: 90%;
    }
}