nav {
    background-color: #EFEFEF;
    width: 100%;
    /* border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 1px; */
    position: relative;
}

nav ul {
    background-color: #EFEFEF;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

nav li {
    display: inline-block;
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;
}

nav a {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color:#000;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    border-radius: 10px;
    width: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    position: absolute;
    top: 15px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.questionIcon {
    position: absolute;
    left: 91%;
    top: 25px;
    cursor: pointer;
}

.questionIcon svg {
    height: 20px;
    width: 20px;
}

.modalTitle {
    position: relative;
    font-weight: bold;
}

.modalTitle::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}