.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    margin: 0 auto;
    background-color: whitesmoke;
    border-color: grey;
    border-width: 1px;
    border-radius: 25px;
    padding: 6%;
    margin-top: 5%;
}